.btn-dangerLight{
  background-color:#FE7E87 ;
}
.btn-dangerLight:hover{
  background-color:#FE7E87 ;
}

.btn-delete{
  background-color: rgb(189,98,36);
  color: white;
}

.btn-delete:hover{
  background-color: rgb(189,98,36);
  color: white;
}